
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100% ;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100% ;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/* Topic Index Page */
.topics-index-page {
  .topic-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }
    a {
      color: #444444;
    }
    .meta {
      font-size:0.9em;
      color: #b3b3b3;
      a {
        color: #b3b3b3;
      }
    }
    .badge {
      background-color: #d8d8d8;
    }
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}
